<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Voting.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/Voting.js"></script>
    <script>
        <% if (typeof va != 'undefined') { %>
            var va = "<%= va %>";
        <% } else { %>
            var va = undefined;
        <% } %>
        var anonymous = ("<%= anonymous %>" === "true");
    </script>
    <title>Voting</title>
</head>
<body>
    <% if (useDisqus == true) { %>
    <script>
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://vote-4.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <% } %>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="onl_login">
                    <div class="row onl_row-sm-offset-4 onl_socialButtons">
                        <div class="col-xs-4 col-sm-6">
                            <a href="#" class="btn btn-lg btn-block onl_btn-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook fa-2x"></i>
                                <span class="hidden-xs"></span>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-6">
                            <a href="#" class="btn btn-lg btn-block onl_btn-google-plus" data-toggle="tooltip" data-placement="top" title="Google Plus">
                                <i class="fa fa-google-plus fa-2x"></i>
                                <span class="hidden-xs"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <h4>題目: <%= q %></h4>
                    <% if (typeof n != 'undefined') { %>
                        <h6 id="name"><%= n %></h6>
                    <% } %>
                    <% if (typeof va != 'undefined') { %>
                        <h5 id="chooseAswer">你的答案: <%= va %></h5>
                    <% } else { %>
                        <h5 id="chooseAswer">你的答案: 尚未選擇</h5>
                    <% } %>
                </div>
                <% for(var i = 0; i < o.length; i++){ %>
                    <div>
                        <button type="button" class="btn" style="background-color: <%= o[i].color %>" data-datac="<%= o[i].description %>" disabled>
                            <%= o[i].description %>
                            <span class="badge badge-light" style="display:none">52%</span>
                        </button>
                    </div>
                <% } %>
                <% if (useDisqus == true) { %>
                <div id="disqus_thread"></div>
                <% } %>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>
</html>